<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html" style="color:brown"><b>SPI GPAO </b> REFLEX </a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Connectez-vous pour démarrer votre session</p>

    <form method="post" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="form-group has-feedback" [ngClass]="{'has-error':f.submitted && !username.valid}">
        <input type="text" class="form-control" placeholder="Identité" name="username" [(ngModel)]="model.username" #username="ngModel"
          required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback" [ngClass]="{'has-error':f.submitted && !password.valid}">
        <input type="password" class="form-control" placeholder="Mot de passe" name="password" [(ngModel)]="model.password" #password="ngModel"
          required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button [disabled]="loading" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!-- <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div> -->
    <!-- /.social-auth-links -->
    <a href="#">I forgot my password</a><br>
  </div>
  <!-- /.login-box-body -->
</div>